@import "bourbon/bourbon";
@import "neat/neat";

$laptop: new-breakpoint(max-width 992px);
$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 480px);

.navBar {
  width: 100%;
  ul {
    list-style-type: none;
  }
  .navButton {
    display: none;
    @include media($tablet) { display: block; }
    height: 30px;
    width: 30px;
    // @include black-gradient;
    position: absolute;
    top: 20px;
    right: 30px;
    border: solid 1px #666666;
    border-radius: 5px;
    div {
      &:first-child {
        margin-top: 3px;
      }
      border-top: solid 2px #666666;
      height: 3px;
      width: 98%;
      margin-bottom: 3px;
    }
  }
}
